@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


header {
    position: static; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #111;
    text-align: center;
}

.hero {
    background: url('../imagenes/fondo_laptop.jpg') center center/cover no-repeat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.floating-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4CAF50;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.floating-whatsapp:hover {
    transform: scale(1.1);
}

.floating-whatsapp img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 50%;
}

.social-icons2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    margin-top: 10px; 
}

.social-icons2 a img {
    width: 40px; 
    height: 40px;
}

button {
    background-color: #703b6c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #5a2d57;
}


.imagenes-principales,
.contenedor-imagenes {
    width: 100%;
    margin: 0;
    padding: 0;
}


.imagen-con-texto img {
    width: 100%; 
    height: auto; 
    display: block;
    filter: brightness(50%);
}


.contenedor-imagenes-redondas {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
}

.imagen-circular {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    margin: 0 auto; 
}

.imagen-circular img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #703b6c;
    margin-bottom: 10px;
}

.imagen-circular p {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}

.imagen-circular p {
    font-weight: bold;
    font-size: 0.8rem;
}


footer {
    background-color: #eeeeee;
    color: #333;
    padding: 20px;
    font-size: 0.85rem;
    line-height: 1.6;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.social-icons {
    margin: 0px 0;
}

.social-icons a img {
    width: 25px;
    margin: 0 8px;
}

.historia {
    background: #eeeeee;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2rem;
    text-align: center;
}

.historia h2 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
    text-align: center;
}

.historia p {
    color: #4a2d4a;
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: center;
}


.destacados {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; 
    text-align: center;
}

.destacados h2 {
    font-size: 2rem;
    color: #703b6c;
    margin-bottom: 20px;
}

.checks-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.check-circle {
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    background-color: #703b6c; 
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto 10px; 
}

.check-circle img {
    width: 50%; 
    height: 50%; 
    object-fit: contain; 
}

.check-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.check-item p {
    font-size: 1rem;
    color: #555;
    margin: 0;
}

.abogada {
    max-width: 90%;
    background: #eeeeee;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem; /* Espaciado entre la imagen y el texto */
    margin: 2rem auto;
}

.abogada img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px; /* Reduce el espacio debajo de la imagen */
    border: 3px solid #703b6c;
}

.abogada p {
    max-width: 400px;
    color: #4a2d4a;
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: lef;
    margin-top: 0px; /* Mueve el texto más arriba */
}

.abogada img {
    width: 120px;
    height: 120px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px; 
    border: 1px solid #703b6c; 
}

.mision {
    background: #eeeeee;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2rem;
    text-align: center;
}

.mision h2 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.mision p {
    color: #4a2d4a;
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: center;
}

.mision p,
.historia p,
.abogada p {
    color: #000; 
    margin-top: 20px; 
}

.contacto {
    padding: 40px 20px;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 15px;
    border-top: 2px solid #e5e5e5;
}

.contacto h3 {
    text-align: center;
    color: #6e3d6e;
    font-size: 20px;
    margin-bottom: 5px;
}

.contacto p {
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    padding: 12px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    transition: border 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #6e3d6e;
}

button[type="submit"] {
    background-color: #6e3d6e;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #582d58;
}


.image-section {
    width: 100%; /* Asegura que ocupe todo el ancho del sitio */
    height: 300px; /* Define una altura fija menor */
    overflow: hidden; /* Oculta cualquier contenido que exceda la altura */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

.image-section img {
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    height: 100%; /* La imagen ocupa toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
}

.imagensaludo {
    position: relative;
    text-align: center;
}

.imagensaludo img {
    width: 100%;
    filter: brightness(60%); 
}

.texto-sobre-imagen {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 1rem; 
    font-weight: bold; 
    text-align: center; 
    width: 90%; 
    line-height: 1.6; 
}

.descripcion {
    background-color: #D3D4CF;
    color: #000;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
}

.imagen-con-botones {
    position: relative; 
}

.imagen-con-botones img {
    width: 100%;
    filter: brightness(50%); 
}

.botones-principales {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    gap: 10px; 
}

.botones-principales button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer {
    background-color: #703b6c;
    color: white;
    padding: 20px;
    text-align: left;
}

footer p {
    margin: 10px 0;
    line-height: 1.6;
}

footer .social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

footer .social-icons a img {
    width: 25px;
    height: auto;
}

.footer-info {
    margin-top: 20px;
    border-top: 1px solid #582d58;
    padding-top: 10px;
}

.texto-horario {
    background-color: #D3D4CF;
    color: #000;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    
}

.frase-final {
    background-color: #D3D4CF;
    color: #000;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    margin: 20px 0;
    

}

            
    .imagenes img {
    max-width: 100%;
    height: auto;
    display: block;
}

.imagenes {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-links li a:hover {
    color: #d3d4cf;
}


.menu-checkbox {
    display: none;
}

.menu-checkbox:checked~.nav-links ul {
    display: flex;
}

.descripcion {
    text-transform: none;
    font-size: 1rem;
    line-height: 1.6;
}

.video-container {
    width: 100%; 
    height: 150px; 
    position: relative;
    overflow: hidden; 
}

.video-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.texto-sobre-video {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 2rem; 
    font-weight: bold;
    text-align: center;
    width: 100%; 
    padding: 0 20px; 
}

.contacto form {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #111;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.contacto form textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}


.contacto form .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacto form .checkboxes label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #111;
    display: flex;
    align-items: center;
    gap: 10px;
}


.contacto form button {
    background-color: #703b6c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contacto form button:hover {
    background-color: #582d58;
}

.testimonios {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
}


.testimonios .card {
    background-color: #703b6c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
}

.imagenes .contenedores {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.imagenes .contenedores img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.info-contacto {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.info-contacto p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
}

.info-contacto .social-icons {
    margin-top: 20px;
}

.info-contacto .social-icons a img {
    width: 40px;
    height: auto;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.info-contacto .social-icons a img:hover {
    transform: scale(1.2);
}

.calendario {
    margin: 40px auto;
    padding: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
    max-width: 600px;
    text-align: center;
}

.calendario h3 {
    font-size: 1.5rem;
    color: #703b6c;
}

.calendario table {
    width: 100%;
    border-collapse: collapse;
}

.calendario th,
.calendario td {
    width: 14.28%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
}

.calendario th {
    background-color: #703b6c;
    color: white;
    font-weight: bold;
}

.calendario td:hover {
    background-color: #e8e6e9;
    cursor: pointer;
}

.calendario td:not(:empty) {
    font-weight: bold;
    color: #703b6c;
}
.calendario {
    margin-bottom: 40px; 
}

.mapa-ubicacion {
    margin-top: 60px; 
}

.seccion-texto {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

.titulo-seccion {
    font-size: 2rem;
    color: #703b6c;
    margin-bottom: 20px;
    font-weight: bold;
}

.opiniones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.opinion {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.opinion p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.opinion p strong {
    font-size: 1rem;
    color: #703b6c;
}


.encuesta {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

.form-encuesta {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-encuesta label {
    font-size: 1rem;
    color: #333;
    text-align: left;
}

.form-encuesta input,
.form-encuesta select,
.form-encuesta textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

.seccion-texto {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

.opiniones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.opinion {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.opinion p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.opinion p strong {
    font-size: 1rem;
    color: #703b6c;
}

.seccion-texto {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titulo-seccion {
    font-size: 1.4rem;
    color: #703b6c;
    margin-bottom: 20px;
    font-weight: bold;
}

.opiniones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.opinion {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.opinion p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.6;
}


.foro-noticias-container {
    padding: 40px 20px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.noticia {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.noticia-titulo {
    font-size: 1.1rem;
    color: #703b6c;
    margin-bottom: 10px;
    text-align: left;
}

.noticia-fecha {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 20px;
    text-align: left;
}

.noticia-descripcion {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: left;
}

.noticia-detalles {
    list-style: disc;
    padding-left: 20px;
}

.noticia-detalles li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: left;
}

.noticia-detalles {
    list-style: none; 
    padding-left: 0; 
    margin: 0; 
}
.mapa-container {
    max-width: 300px; 
    margin: 20px auto; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  
}

.mapa-ubicacion {
    margin-top: 40px; 
}

.mapa-ubicacion .titulo-seccion { 
    font-size: 1.5rem; 
}
.mapa-ubicacion .subtitulo {
    font-size: 1rem; 
    color: #555; 
}



.imagen-con-texto {
    position: relative; 
    width: 100%; 
    overflow: hidden; 
}

.imagen-con-texto img {
    width: 100%; 
    height: auto; 
    display: block;
    filter: brightness(50%); 
}

.results-promise {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 1rem; 
    font-weight: bold;
    text-align: center; 
    width: 90%; 
    line-height: 1.6; 
}

.imagen-container {
    position: relative; 
    width: 300px; 
    height: 300px; 
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
}

.imagen-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block; 
}

.texto-hover {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1rem;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.imagen-container:hover .texto-hover {
    opacity: 1; 
}

.contenedores {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.video-container2 {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

.video-container2 iframe {
    width: 100%; 
    height: 400px; 
    border: none; 
}

.sobre-el-estudio {
    padding: 40px 20px;
    background-color: #f8f8f8;
    text-align: center;
}


.vision-mision-valores {
    padding: 20px;
}

/* Quitar márgenes de ambos lados */
.vision-mision-valores {
    background-color: #703b6c; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 40px 20px; /* Espaciado interno */
    margin: 0; /* Elimina márgenes */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding dentro del ancho total */
}

.vision-mision-valores h2 {
    font-size: 1.5rem;
    margin-bottom: 40px; /* Aumenta la separación debajo del título */
    font-weight: bold;
    text-align: center;
}

.grid-sobre-estudio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas uniformes */
    gap: 20px; /* Espaciado uniforme entre los elementos */
    justify-content: center; /* Centra el grid horizontalmente */
    align-items: stretch; /* Asegura que todos los elementos tengan la misma altura */
    margin-top: 20px; /* Agrega separación entre el título y los elementos */
}

.estudio-item {
    display: flex;
    flex-direction: column; /* Alinea el contenido verticalmente */
    justify-content: flex-start; /* Asegura que el contenido comience desde arriba */
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto */
    background-color: #ffffff; /* Fondo blanco */
    color: #703b6c; /* Color del texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 20px; /* Espaciado interno */
    height: 100%; /* Asegura que todos los elementos tengan la misma altura */
}

.estudio-item h3 {
    margin: 0 0 10px 0; /* Elimina márgenes superiores e inferiores y agrega un margen inferior uniforme */
    font-size: 0.7rem; /* Ajusta el tamaño del título */
    font-weight: bold;
}

.estudio-item p {
    margin: 0; /* Elimina márgenes adicionales */
    line-height: 1.6; /* Mejora la legibilidad del texto */
    flex-grow: 1; /* Asegura que los párrafos ocupen el espacio restante */
}

.estudio-item img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #703b6c;
}

.estudio-item h3 {
    font-size: 1.2rem;
    color: #703b6c;
    margin-bottom: 10px;
}

.estudio-item p {
    font-size: 1rem;
    color: #000;
    line-height: 1.6;
}


.section.historia {
    margin-bottom: 40px; 
}

.subtitulo-objetivos {
    font-size: 1.8rem;
    color: #703b6c;
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 20px; 
    font-weight: bold;
}

.fotofamilia-container {
    width: 100%; 
    height: 150px; 
    position: relative;
    overflow: hidden; 
}

.fotofamilia-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.texto-sobre-foto {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 2rem; 
    font-weight: bold;
    text-align: center;
    width: 100%; 
    padding: 0 20px; 
}

.video-container2 {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

.video-container2 iframe {
    width: 100%; 
    height: 400px; 
    border: none; 
} 

.video-container2 {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

.video-container2 iframe {
    width: 100%; 
    height: 400px; 
    border: none; 
}

.video-container2 {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

.video-container2 iframe {
    width: 100%; 
    height: 400px; 
    border: none; 
}

.video-container2 {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

.video-container2 iframe {
    width: 100%; 
    height: 400px; 
    border: none; 
}

.logo_htmlsignoriougarte {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-top: 10px; 
}

.logo_htmlsignoriougarte img {
    max-width: 100px; 
    height: auto;
    object-fit: contain;
}


.floating-up {
    position: fixed;
    bottom: 90px; 
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #703b6c; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.floating-up:hover {
    transform: scale(1.1); 
}

.floating-up img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 50%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #703b6c;
    padding: 5px 15px;
    height: 120px;
    position: relative;
    z-index: 1000;
}

.menu-checkbox {
    display: none;
}

.menu-toggle {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: block;
    z-index: 1100;
    background: none;
    border: none;
}

.nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703b6c;
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
    z-index: 1000;
    overflow-y: hidden;
}

.menu-checkbox:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.nav-links li {
    text-align: center;
    width: 100%;
}

.nav-links a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}


@media (min-width: 600px)  {
    .contenedor-imagenes-redondas {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px; 
        justify-content: center; 
    }

    .contenedor-imagenes-redondas > :nth-child(odd):last-child {
        grid-column: span 2; 
        justify-self: center; 
    }

    .grid-sobre-estudio {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
        gap: 30px; /* Espaciado entre filas y columnas */
        font-size: 1.5rem; /* Tamaño de fuente más grande */
    }

    .abogada {
        flex-direction: row; /* Coloca la imagen y el texto en una fila */
        align-items: center; /* Centra verticalmente la imagen y el texto */
        text-align: left; /* Alinea el texto a la izquierda */
        gap: 2rem; /* Aumenta el espacio entre la imagen y el texto */
    }

    .abogada img {
        margin-bottom: 0; /* Elimina el margen inferior cuando están en fila */
    }

    .abogada p {
        text-align: left; /* Alinea el texto a la izquierda */
        max-width: 600px; /* Limita el ancho del texto */
        font-size: 1rem; /* Tamaño del texto */
        line-height: 1.6; /* Mejora la legibilidad */
        margin: 20px 0; /* Aplica el mismo margen arriba y abajo */
    }
}

@media (min-width: 900px) {
    .contenedor-imagenes-redondas {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        gap: 40px; 
    }

    .imagen-circular {
        width: 150px; 
    }

    .imagen-circular img {
        width: 120px;
        height: 120px;
    }

        .grid-sobre-estudio {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 0.85fr)); 
            gap: 20px;
            justify-content: center; 
            align-items: stretch; 
        }
    
        .estudio-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            background-color: #ffffff;
            color: #703b6c;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            height: 100%; 
        }

        .abogada {
            display: flex; 
            flex-direction: row; 
            align-items: center; 
            text-align: left; 
            gap: 2rem; 
        }
    
        .abogada img {
            width: 150px; 
            height: 150px;
            border-radius: 50%; 
            object-fit: cover;
            margin-bottom: 0; 
        }
    
        .abogada p {
            text-align: left; 
            max-width: 600px; 
            font-size: 1.1rem; 
            line-height: 1.8; 
            margin: 20px 0; 
        }

    }
      
