@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


header {
    position: static; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #111;
    text-align: center;
}

.hero {
    background: url('../imagenes/fondo_laptop.jpg') center center/cover no-repeat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.floating-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4CAF50;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.floating-whatsapp:hover {
    transform: scale(1.1);
}

.floating-whatsapp img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 50%;
}

.social-icons2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    margin-top: 10px; 
}

.social-icons2 a img {
    width: 40px; 
    height: 40px;
}

button {
    background-color: #703b6c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #703b6c;
}


.imagenes-principales,
.contenedor-imagenes {
    width: 100%;
    margin: 0;
    padding: 0;
}


.imagen-con-texto img {
    width: 100%; 
    height: auto; 
    display: block;
    filter: brightness(50%);
}

.contenedor-imagenes-redondas {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
    scroll-padding: 20px;
    box-sizing: border-box;
}

.imagen-circular {
    flex: 0 0 auto;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-circular img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #703b6c;
    margin-bottom: 10px;
}

.imagen-circular p {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    color: #703b6c;
}


footer {
    background-color: #eeeeee;
    color: #333;
    padding: 20px;
    font-size: 0.85rem;
    line-height: 1.6;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.social-icons {
    margin: 0px 0;
}

.social-icons a img {
    width: 25px;
    margin: 0 8px;
}

.historia {
    background: #eeeeee;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2rem;
    text-align: center;
}

.historia h2 {
    font-weight: bold;
    font-size: 1.4rem;
    color: #703b6c;
    text-align: center;
}

.historia p {
    color: #4a2d4a;
    font-size: 1rem;
    line-height: 2;
    text-align: center;
}


.destacados {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; 
    text-align: center;
}

.destacados h2 {
    font-size: 2rem;
    color: #703b6c;
    margin-bottom: 20px;
}

.checks-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.check-circle {
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    background-color: #703b6c; 
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto 10px; 
}

.check-circle img {
    width: 50%; 
    height: 50%; 
    object-fit: contain; 
}

.check-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.check-item p {
    font-size: 1rem;
    color: #555;
    margin: 0;
}

.abogadas {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin: 0 auto; 
    padding: 20px; 
    max-width: 1200px; 
}
.abogada {
    max-width: 90%;
    background: #eeeeee;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem; 
    margin: 2rem auto;
}



.abogada p {
    max-width: 400px;
    color: #4a2d4a;
    font-size: 0.9rem;
    line-height: 2;
    text-align: center; 
    margin-top: 0px; 
}

.abogada img {
    width: 120px;
    height: 120px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px; 
    border: 1px solid #703b6c; 
}

.mision {
    background: #eeeeee;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2rem;
    text-align: center;
}

.mision h2 {
    font-weight: bold;
    font-size: 1.4rem;
    color: #703b6c;
    text-align: center;
    margin-bottom: 20px;
}

.mision p {
    color: #4a2d4a;
    font-size: 0.95rem;
    line-height: 2;
    text-align: center;
}

.mision p,
.historia p,
.abogada p {
    color: #000; 
    margin-top: 20px; 
}

.contacto {
    padding: 40px 20px;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 15px;
    border-top: 2px solid #e5e5e5;
}

.contacto h3 {
    text-align: center;
    color: #6e3d6e;
    font-size: 20px;
    margin-bottom: 5px;
}

.contacto p {
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    padding: 12px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    transition: border 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #6e3d6e;
}

button[type="submit"] {
    background-color: #6e3d6e;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #582d58;
}


.image-section {
    width: 100%; 
    height: 400px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.image-section img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.imagensaludo {
    position: relative;
    text-align: center;
}

.imagensaludo img {
    width: 100%;
    filter: brightness(60%); 
}

.texto-sobre-imagen {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 1rem; 
    font-weight: bold; 
    text-align: center; 
    width: 90%; 
    line-height: 1.6; 
}

.descripcion {
    background-color: #D3D4CF;
    color: #000;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
}

.imagen-con-botones {
    position: relative; 
}

.imagen-con-botones img {
    width: 100%;
    filter: brightness(50%); 
}

.botones-principales {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    gap: 10px; 
}

.botones-principales button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

.botones-principales button:hover {
    background-color: rgba(255, 255, 255, 0.8); 
    
}

footer {
    background-color: #703b6c;
    color: white;
    padding: 20px;
    text-align: left;
}

footer p {
    margin: 10px 0;
    line-height: 1.6;
}

footer .social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

footer .social-icons a img {
    width: 25px;
    height: auto;
}

.footer-info {
    margin-top: 20px;
    border-top: 1px solid #582d58;
    padding-top: 10px;
}

.texto-horario {
    background-color: #D3D4CF;
    color: #000;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    
}

.frase-final {
    background-color: #D3D4CF;
    color: #000;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    margin: 20px 0;
    

}

            
    .imagenes img {
    max-width: 100%;
    height: auto;
    display: block;
}

.imagenes {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-links li a:hover {
    color: #d3d4cf;
}


.menu-checkbox {
    display: none;
}

.menu-checkbox:checked~.nav-links ul {
    display: flex;
}

.descripcion {
    text-transform: none;
    font-size: 1rem;
    line-height: 1.6;
}

.video-container {
    width: 100%; 
    height: 150px; 
    position: relative;
    overflow: hidden; 
}

.video-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.texto-sobre-video {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 2rem; 
    font-weight: bold;
    text-align: center;
    width: 100%; 
    padding: 0 20px; 
}

.contacto form {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #111;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.contacto form textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}


.contacto form .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacto form .checkboxes label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #111;
    display: flex;
    align-items: center;
    gap: 10px;
}


.contacto form button {
    background-color: #703b6c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contacto form button:hover {
    background-color: #582d58;
}

.imagenes .contenedores {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.imagenes .contenedores img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.info-contacto {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.info-contacto p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
}

.info-contacto .social-icons {
    margin-top: 20px;
}

.info-contacto .social-icons a img {
    width: 40px;
    height: auto;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.info-contacto .social-icons a img:hover {
    transform: scale(1.2);
}

.calendario {
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

.calendario h3 {
    font-size: 1.1rem;
    color: #703b6c;
    margin-bottom: 15px;
}

.calendario table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

.calendario th,
.calendario td {
    width: 14.28%;
    padding: 8px; 
    text-align: center;
    border: 1px solid #ccc;
    font-size: 0.7rem;
    color: #000;
    word-wrap: break-word; 
    font-size: 0.9;
}

.calendario th {
    background-color: #703b6c;
    color: white;
    font-weight: bold;
}

.calendario td:hover {
    background-color: #e8e6e9;
    cursor: pointer;
}

.calendario td:not(:empty) {
    font-weight: bold;
    color: #703b6c;
}

.mapa-ubicacion {
    margin-top: 60px; 
}

.seccion-texto {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

.titulo-seccion {
    font-size: 2rem;
    color: #703b6c;
    margin-bottom: 20px;
    font-weight: bold;
}

.opiniones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.opinion {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.opinion p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.opinion p strong {
    font-size: 1rem;
    color: #703b6c;
}


.opinion {
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.opinion:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.rating {
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: none; 
    font-size: 1.5rem;
    color: #FFD700; 
}

.opinion:hover .rating {
    display: block; 
}

.subtitulo-valoraciones {
    font-size: 1rem;
    color: #000; 
    text-align: center;
    margin-bottom: 20px;
}


.encuesta {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

.form-encuesta {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-encuesta label {
    font-size: 1rem;
    color: #333;
    text-align: left;
}

.form-encuesta input,
.form-encuesta select,
.form-encuesta textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

.seccion-texto {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

.opiniones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.opinion {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.opinion p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.opinion p strong {
    font-size: 1rem;
    color: #703b6c;
}

.seccion-texto {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titulo-seccion {
    font-size: 1.4rem;
    color: #703b6c;
    margin-bottom: 20px;
    font-weight: bold;
}

.opiniones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.opinion {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.opinion p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.6;
}


.foro-noticias-container {
    padding: 40px 20px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.noticia {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.noticia-titulo {
    font-size: 1.1rem;
    color: #703b6c;
    margin-bottom: 10px;
    text-align: left;
}

.noticia-fecha {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 20px;
    text-align: left;
}

.noticia-descripcion {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: left;
}

.noticia-detalles {
    list-style: disc;
    padding-left: 20px;
}

.noticia-detalles li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: left;
}

.noticia-detalles {
    list-style: none; 
    padding-left: 0; 
    margin: 0; 
}

.foro-noticias-container {
    padding: 40px 20px;
    background-color: #ffffff;
    max-width: 1200px; 
    margin: 0 auto; 
    text-align: center; 
}

.noticia {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
    position: relative;
    overflow: hidden;
    min-height: 150px;
}

.mito {
    background-color: #703b6c; 
    color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    flex-direction: column; 
    text-align: center;
    box-sizing: border-box; 
}

.realidad {
    background-color: #69a86b; 
    color: white;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    flex-direction: column; 
    text-align: center;
    box-sizing: border-box; 
}

.noticia:hover .mito {
    opacity: 0;
    transform: translateY(-100%);
}

.noticia:hover .realidad {
    opacity: 1;
    transform: translateY(0);
}

.subtitulo-instruccion {
    font-size: 1rem; 
    color: #555; 
    margin-bottom: 20px; 
    text-align: center; 
    font-weight: normal;
}

.mapa-container iframe {
    width: 100%; 
    height: 500px; 
    max-width: 500px; 
    border: 0; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
}

.mapa-ubicacion {
    margin-top: 40px; 
}

.mapa-ubicacion .titulo-seccion { 
    font-size: 1.5rem; 
}
.mapa-ubicacion .subtitulo {
    font-size: 1rem; 
    color: #555; 
}



.imagen-con-texto {
    position: relative; 
    width: 100%; 
    overflow: hidden; 
}

.imagen-con-texto img {
    width: 100%; 
    height: auto; 
    display: block;
    filter: brightness(50%); 
}

.results-promise {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 1rem; 
    font-weight: bold;
    text-align: center; 
    width: 90%; 
    line-height: 1.6; 
}

.imagen-container {
    position: relative; 
    width: 300px; 
    height: 300px; 
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
}

.imagen-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block; 
}

.texto-hover {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1rem;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.imagen-container:hover .texto-hover {
    opacity: 1; 
}

.contenedores {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}


.sobre-el-estudio {
    padding: 40px 20px;
    background-color: #f8f8f8;
    text-align: center;
}


.vision-mision-valores {
    padding: 20px;
}

.vision-mision-valores {
    background-color: #703b6c; 
    color: white; 
    padding: 40px 20px; 
    margin: 0; 
    width: 100%; 
    box-sizing: border-box; 
}

.vision-mision-valores h2 {
    font-size: 1.5rem;
    margin-bottom: 40px; 
    font-weight: bold;
    text-align: center;
}

.grid-sobre-estudio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
    align-items: stretch; 
    margin-top: 20px; 
}

.estudio-item {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    text-align: center; 
    background-color: #ffffff; 
    color: #703b6c; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    height: 100%; 
}

.estudio-item h3 {
    margin: 0 0 10px 0; 
    font-size: 0.7rem; 
    font-weight: bold;
}

.estudio-item p {
    margin: 0; 
    line-height: 1.6; 
    flex-grow: 1; 
}

.estudio-item img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #703b6c;
}

.estudio-item h3 {
    font-size: 1.2rem;
    color: #703b6c;
    margin-bottom: 10px;
}

.estudio-item p {
    font-size: 1rem;
    color: #000;
    line-height: 2;
}


.section.historia {
    margin-bottom: 40px; 
}

.subtitulo-objetivos {
    font-size: 1.8rem;
    color: #703b6c;
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 20px; 
    font-weight: bold;
}

.fotofamilia-container {
    width: 100%; 
    height: 200px; 
    position: relative;
    overflow: hidden; 
}

.fotofamilia-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    filter: brightness(60%);  
}

.texto-sobre-foto {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 2rem; 
    font-weight: bold;
    text-align: center;
    width: 100%; 
    padding: 0 20px; 
}



.logo_htmlsignoriougarte {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-top: 10px; 
}

.logo_htmlsignoriougarte img {
    max-width: 100px; 
    height: auto;
    object-fit: contain;
}


.floating-up {
    position: fixed;
    bottom: 90px; 
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #703b6c; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.floating-up:hover {
    transform: scale(1.1); 
}

.floating-up img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 50%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #703b6c;
    padding: 5px 15px;
    height: 120px;
    position: relative;
    z-index: 1000;
}

.menu-checkbox {
    display: none;
}

.menu-toggle {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: block;
    z-index: 1100;
    background: none;
    border: none;
}

.nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703b6c;
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
    z-index: 1000;
    overflow-y: hidden;
}

.menu-checkbox:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.nav-links li {
    text-align: center;
    width: 100%;
    margin: 20px;
}

.nav-links a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.video-container2 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}

.video-container2 iframe {
    width: 100%; 
    aspect-ratio: 16 / 9; 
    border: none;
}

.testimonios h2 {
    font-size: 2rem; 
    color: #703b6c; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; 
    margin: 60px;
}

.carrusel-testimonios {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    max-width: 960px;
    margin: 60px auto;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    background-color: #ffffff; 
    border-radius: 10px;
}

.testimonio {
    flex: 0 0 300px;
    height: 300px;
    scroll-snap-align: start;
    background: #703b6c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.carrusel-testimonios::-webkit-scrollbar {
    height: 8px; 
}

.carrusel-testimonios::-webkit-scrollbar-thumb {
    background: #703b6c; 
    border-radius: 10px;
}

.carrusel-testimonios::-webkit-scrollbar-track {
    background: #eeeeee; 
}

.imagen-mujer.verificacion {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 20px auto; 
    max-width: 900px; 
}

.imagen-mujer.verificacion img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

.subtitulo {
    font-size: 1.2rem;
    color: #703b6c; 
    text-align: center;
    margin-bottom: 20px;
}

.mapa-container {
    margin-top: 20px;
}

@media (min-width: 600px)  {

    .imagen-con-botones img,
    .imagen-con-texto img {
        height: 250px; 
        object-fit: cover; 
        width: 100%; 
    }

    .botones-principales button {
        font-size: 1.2rem; 
        padding: 15px 30px; 
    }

    .texto-sobre-imagen {
        font-size: 1.3rem; 
        line-height: 1.8; 
        padding: 10px; 
    }

    .results-promise {
        font-size: 1.1rem; 
        line-height: 1.8; 
        padding: 10px; 
    }

    .imagensaludo {
        height: 100%; 
        overflow: hidden; 
    }

    .imagensaludo img {
        width: 100%;
        height: 280px; 
        object-fit: cover; 
        object-position: center; 
    }
    
    .grid-sobre-estudio {
        grid-template-columns: repeat(2, 1fr); 
        gap: 80px; 
        font-size: 1.5rem; 
    }

    .abogada {
        flex-direction: row; 
        align-items: center; 
        text-align: left; 
        gap: 2rem; 
    }

    .abogada img {
        margin-bottom: 0; 
    }

    .abogada p {
        text-align: left; 
        max-width: 600px; 
        font-size: 1rem; 
        line-height: 1.6; 
        margin: 20px 0; 
    }

    .video-container2 iframe {
        height: 315px; 
    }

       
    .contenedores {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .imagen-container {
        flex: 0 1 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carrusel-testimonios {
        flex-direction: column; 
        height: calc(3 * 200px + 40px); 
    }

    .testimonio {
        flex: 0 0 auto; 
        height: 200px; 
    }

    .imagen-circular {
        max-width: 150px; 
        margin: 0 auto 20px; 
    }

    .imagen-circular img {
        width: 130px; 
        height: 130px;
        border-radius: 50%; 
        object-fit: cover;
        border: 3px solid #703b6c; 
    }

    .imagen-circular p {
        font-size: 1rem; 
        font-weight: bold;
        text-align: center;
        color: #703b6c;
        margin-top: 10px; 
    }


    .contenedor-imagenes-redondas {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: visible;
        scroll-snap-type: none;
        gap: 30px;
    }
    
    .imagen-circular {
        scroll-snap-align: unset;
        flex: unset;
    }
    
    

    .descripcion {
        font-size: 1rem; 
        line-height: 1.8; 
        text-align: center; 
        padding: 10px; 
    }

    .mision h2,
    .historia h2 {
        font-size: 1.5rem; 
        margin-bottom: 20px; 
    }

    .mision p,
    .historia p {
        font-size: 1rem; 
        line-height: 1.8; 
        max-width: 90%; 
        margin: 0 auto; 
    }

    .contacto h3 {
        font-size: 1.8rem;  
    }

    .contacto p {
        font-size: 1.2rem;  
    }

    .contacto form input,
    .contacto form textarea,
    .contacto form button {
        font-size: 1.1rem; 
        padding: 12px; 
    }

    .encuesta h2 {
        font-size: 1.8rem; 
    }

    .encuesta form label {
        font-size: 1.2rem; 
    }

    .encuesta form input,
    .encuesta form select,
    .encuesta form textarea,
    .encuesta form button {
        font-size: 1.1rem; 
        padding: 12px; 
    }

    .opiniones .opinion p {
        font-size: 1.2rem; 
        line-height: 1.8; 
    }

    .calendario {
        max-width: 600px; 
        padding: 30px; 
    }

    .calendario h3 {
        font-size: 1.2rem; 
        margin-bottom: 20px; 
    }

    .calendario th,
    .calendario td {
        font-size: 0.8rem; 
        padding: 12px; 
    }
    .mapa-container iframe {
        height: 400px; 
    }

    .mapa-container iframe {
        height: 300px; 
        max-width: 300px; 
    }

    .info-contacto p {
        font-size: 1.2rem; 
        margin-bottom: 20px; 
    }

    .info-contacto .social-icons2 a img {
        width: 40px; 
    }

    
}


  
  
@media (min-width: 900px) {

    .imagensaludo {
        width: 100%; 
        height: 300px; 
        overflow: hidden; 
        position: relative; 
    }

   
    .imagensaludo img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        object-position: center 25%; 
    }

    .texto-sobre-imagen {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        font-size: 1.5rem; 
        font-weight: bold; 
        text-align: center; 
        line-height: 1.6; 
        padding: 0 20px; 
    }

    .descripcion {
        font-size: 1.1rem; 
        line-height: 2; 
        max-width: 100%; 
        margin: 0 auto; 
        text-align: center; 
    }
    
    .texto-horario,
    .frase-final {
        font-size: 1.1rem; 
        line-height: 2; 
        width: 100%; 
        margin: 0; 
        text-align: center; 
        padding: 20px; 
    }

    .imagen-con-botones {
        width: 100%; 
        height: 350px; 
        overflow: hidden; 
        position: relative; 
    }

    .imagen-con-botones img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }


    .botones-principales {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        display: flex;
        gap: 180px; 
    }
    
    .botones-principales button {
        font-size: 1.2rem;
        padding: 15px 30px; 
        border-radius: 8px; 
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        width: 100%;
    }
    
    .botones-principales button:hover {
        background-color: rgba(255, 255, 255, 0.8); 
    }
    .imagen-con-texto {
        width: 100%; 
        height: 350px; 
        overflow: hidden; 
        position: relative; 
    }
    
    .imagen-con-texto img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
    
    .results-promise {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        font-size: 1.3rem; 
        font-weight: bold;
        text-align: center; 
        line-height: 1.6;
        padding: 0 20px; 
    }
            
        
    .imagen-circular p {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .grid-sobre-estudio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 0.85fr)); 
        gap: 20px;
        justify-content: center; 
        align-items: stretch; 
    }
    
    .estudio-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: #ffffff;
        color: #703b6c;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        height: 100%; 
            
    }

    .estudio-item p {
        font-size: 1.2rem;
        line-height: 2;
        margin: 10px 0;
    }

    .estudio-item h3 {
        font-size: 1.6rem; 
        font-weight: bold; 
            
    }

    .estudio-item h3 {
        font-size: 1.5rem; 
        
    }

    .abogada {
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        text-align: left; 
        gap: 2rem; 
    }
    
    .abogada img {
        width: 150px; 
        height: 150px;
        border-radius: 50%; 
        object-fit: cover;
        margin-bottom: 0; 
    }
    
    .abogada p {
        text-align: left; 
        max-width: 600px; 
        font-size: 1.1rem; 
        line-height: 2; 
         margin: 20px 0; 
    }

    .mision {
        width: 100%; 
        text-align: center; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding: 40px 20px; 
        margin: 0; 
    }
    
    .mision h2 {
        font-size: 2rem; 
        margin-bottom: 20px; 
        text-align: center;
    }
    
    .mision p {
        font-size: 1.2rem;
        line-height: 2; 
        max-width: 90%; 
        margin: 0 auto; 
    }

    .historia {
        width: 100%; 
        text-align: center; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        padding: 40px 20px; 
        margin: 0; 
    }
    
    .historia h2 {
        font-size: 2rem; 
        margin-bottom: 20px; 
        text-align: center;
    }
    
    .historia p {
        font-size: 1.2rem; 
        line-height: 2; 
        max-width: 90%; 
        margin: 0 auto; 
    }

        
    .carrusel-noticias {
        display: flex; 
        overflow-x: auto; 
        scroll-snap-type: x mandatory; 
        gap: 20px; 
         padding: 20px;
    }
        
    .noticia {
        flex: 0 0 80%; 
        scroll-snap-align: start; 
        background: #f9f9f9;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: left;
    }
        
    .noticia-titulo {
        font-size: 1.5rem;
        color: #703b6c;
        margin-bottom: 10px;
    }
        
    .noticia-descripcion {
        font-size: 1.2rem;
        color: #555;
    }
        
    .carrusel-noticias::-webkit-scrollbar {
        height: 8px; 
    }
        
    .carrusel-noticias::-webkit-scrollbar-thumb {
        background: #703b6c; 
        border-radius: 10px;
    }
        
    .carrusel-noticias::-webkit-scrollbar-track {
        background: #f0f0f0; 
    }
            
    .menu-toggle {
        display: none;
    }
        
    
    .nav-links {
        display: flex;
        position: static;
        height: auto;
        width: auto;
        padding: 0;
        background: none;
    }
        
    .nav-links ul {
        flex-direction: row;
         margin: 20px;
    }
        
    .nav-links li {
        width: auto;
        text-align: left;
    }
        
    .nav-links a {
        font-size: 1rem;
    }
        

    .checks-container {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        gap: 40px; 
    }
        
    .check-item {
        text-align: center; 
    }
        
    .check-circle {
        margin: 0 auto; 
    }

    .check-item p {
        margin-top: 10px; 
        font-size: 1rem; 
        line-height: 1.6; 
    }

    
    .fotofamilia-container {
        height: 350px; 
    }

    .testimonio {
        font-size: 1.2rem; 
        line-height: 1.8; 
        padding: 30px; 
    }
        
    .contacto h3 {
        font-size: 2rem; 
    }
    
    .contacto p {
        font-size: 1.3rem; 
    }
    
    .contacto form input,
    .contacto form textarea,
    .contacto form button {
        font-size: 1.2rem; 
        padding: 15px; 
    }

    .encuesta h2 {
        font-size: 1.8rem; 
    }
    
    .encuesta form label {
        font-size: 1.3rem; 
    }
    
    .encuesta form input,
    .encuesta form select,
    .encuesta form textarea,
    .encuesta form button {
        font-size: 1.2rem; 
        padding: 15px; 
    }
        
    .opiniones .opinion p {
        font-size: 1.1rem; 
        line-height: 2; 
    }

    .calendario {
        max-width: 800px; 
        padding: 40px; 
        margin: 50px auto; 
    }
    
    .calendario h3 {
        font-size: 1.3rem; 
        margin-bottom: 30px; 
    }
    
    .calendario th,
    .calendario td {
        font-size: 0.8rem; 
        padding: 15px; 
    }

    .mapa-container iframe {
        height: 450px; 
        max-width: 450px; 
    }

    .info-contacto p {
        font-size: 1.5rem; 
        margin-bottom: 25px; 
    }
    
    .info-contacto .social-icons2 a img {
        width: 40px; 
    }
       
       
    .contenedor-imagenes-redondas {
        display: flex;
        flex-direction: row;             
        justify-content: center;         
        align-items: stretch;             
        gap: 40px;
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }
          
    .imagen-circular {
        flex: 1 1 150px;                
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
        align-items: center;
        text-align: center;
        min-height: 220px;              
        padding: 10px;
        box-sizing: border-box;
        background-color: #f9f9f9;       
        border-radius: 10px;
    }
          
    .imagen-circular img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #703b6c;
    }
          
    .imagen-circular p {
        font-size: 1rem;
        font-weight: bold;
        color: #703b6c;
        margin-top: auto; 
    }
    
    }         
            
